# IAR 编译输出
DIYRuZRT/CC2530DB/RouterEB/
DIYRuZRT/CC2530DB/CoordinatorEB/
DIYRuZRT/CC2530DB/EndDeviceEB/
DIYRuZRT/CC2530DB/settings/
*.dep

# Object files
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# OS 文件
Thumbs.db
.DS_Store

# IDE
.trae/
